
<div style="clear: both; margin-bottom: 15px;"></div>
<h3>Veja também </h3>
<ul>
{% if page.url contains '/blog/2013/06/01/alguns-eventos-importantes-de-2013/' %}
  <li><a href="http://toalhatech.com/blog/2013/06/08/sql-saturday-rio-2a-edicao/" target="_blank">SQL Saturday RIO 2013- 2a edicao</a>
{% else %}
  <li><a href="http://toalhatech.com/blog/2013/06/01/alguns-eventos-importantes-de-2013/" target="_blank">Eventos de TI em 2013</a>
{% endif %}
{% if page.url contains 'blog/2013/05/30/encontros-mensais-bimestrais-de-algumas-comunidades-do-rio-de-janeiro/' %}
  <li><a href="http://toalhatech.com/blog/2013/05/12/objetivo-do-toalhatech/" target="_blank">Objetivo do ToalhaTech</a>
{% else %}
  <li><a href="http://toalhatech.com/blog/2013/05/30/encontros-mensais-bimestrais-de-algumas-comunidades-do-rio-de-janeiro/" target="_blank" >Agenda de encontros de várias comunidades do RJ</a>
{% endif %}
{% if page.url contains 'blog/2013/06/02/como-foi-o-rio-agile-talks-maio-2013/' %}
  <li><a href="http://toalhatech.com/blog/2013/05/12/encontro-dna-rio-abril-2013/" target="_blank">Encontro DNA Rio de Abril/2013</a>
{% else %}
  <li><a href="http://toalhatech.com/blog/2013/06/02/como-foi-o-rio-agile-talks-maio-2013/" target="_blank" >Como foi a Rio Agile Talks de maio/2013</a>
{% endif %}






