<!--Fonts from Google"s Web font directory at http://google.com/webfonts -->
<div style="clear: both; margin-bottom: 15px;"></div>
<h3>Veja também </h3>
<ul>
<li><a href="toalhatech.com/blog/2013/06/01/alguns-eventos-importantes-de-2013/" targety="_blank">Eventos de TI em 2013</a>
<li><a href="http://toalhatech.com/blog/2013/05/30/encontros-mensais-bimestrais-de-algumas-comunidades-do-rio-de-janeiro/" targety="_blank" >Agenda de encontros de várias comunidades do RJ</a>
<li><a href="http://toalhatech.com/blog/2013/06/08/web-day-2013/" targety="_blank" >Web Day</a>
<li><a href="http://toalhatech.com/blog/2013/06/02/como-foi-o-rio-agile-talks-maio-2013/" targety="_blank" >Como foi a Rio Agile Talks de maio/2013</a>
</ul>

